body {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
input{
    width: 5rem;
}
button{
    background-color: #103769;
    color: aqua;
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
}
button:hover{
    background-color: #1957a8;
    cursor: pointer;
}
.container{
    background-color: aqua;
    border-radius: 20px;
}
.parameters{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
    margin: 20px 10px 10px 10px;
    padding: 20px;
}
.coeficientes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
@media(min-width: 520px){
    .coeficientes{
        flex-direction: row;
    }
}
.evaluation-box{
    margin-top: 20px;
}
.evaluation-box>p{
    margin: 0;
}
.results{
    margin: 30px;
}
.results>p>span{
    font-weight: bold;
}